.main-slider {
  // box-shadow: $main-box-shadow;
  border-radius: 32px;
  margin-left: 18px;
  margin-right: 18px;
  margin-bottom: 21px;
}
.slider-wrapper {
  //to display the box shadow completely
  // min-height: 220px;
}
.carousel-root {
  direction: initial !important;
}

.carousel__caption {
  color: black;
  margin-top: auto;
  font-weight: 600;
  text-align: center;
}
.nextArrow,
.prevArrow {
  background-color: rgba(255, 255, 255, 0.781);
  text-align: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: 50%;
  cursor: pointer;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prevArrow {
  left: -16px;
}
.nextArrow {
  right: -16px;
  img {
    transform: rotate(180deg);
  }
}
.main-slider {
  cursor: pointer;
}
.carousel-image {
  width: 100%;
  height: auto;
  width: 100%;
  height: auto;
  border-radius: $radius;
}
.carousel-wrapper {
  position: relative;
  background-color: #fff;
  border-radius: 32px;
  padding: 10px;
  padding-bottom: 0;
  box-shadow: $main-box-shadow;
  min-height: 100%;
  // min-height: 200px;
}

.MuiSkeleton-rectangular {
  border-radius: $radius;
}
.banner {
  padding: 10px;
  padding-bottom: 65px;
  border-radius: 16px;
  background-color: #fff;
  margin-top: 16px;

  &__image {
    border-radius: 16px;

    img {
      width: 100%;
      height: auto;
      border-radius: 16px;
    }
  }
}
.swiper-pagination-bullet-active {
  background: $secondary;
}
.swiper-pagination {
  bottom: 15px !important;
}
.MobileAdsBanner {
  margin-top: 16px;
}
