.colors {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .active {
    border: 2px solid $primary;
  }
}
.color-item {
  padding: 3px;
  cursor: pointer;
  border-radius: 16px;

  &__color {
    width: 40px;
    height: 57px;
    border-radius: 16px;
  }
}
