.login {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 40px;
  padding-left: 40px;
  &__form {
    &__actions {
      position: relative;
      margin-bottom: 8px;
    }
    &__input {
      background: #ffffff;
      box-shadow: 0px 4.80952px 4.80952px rgba(0, 0, 0, 0.25), inset 7.21429px 0px 4.80952px rgba(0, 0, 0, 0.25);
      border-radius: 24px;
      outline: none;
      border: none;
      padding: 19px 10px;
      padding-bottom: 10px;
      padding-left: 77px;
      text-align: left;
      font-size: 20px;
      &::placeholder {
        color: #b5b5b5;
        font-size: 28px;
      }
    }
    &__button {
      background: radial-gradient(92.09% 85.42% at 86.3% 87.5%, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0) 86.18%)
          /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
        radial-gradient(
            65.28% 65.28% at 26.39% 20.83%,
            rgba(255, 255, 255, 0.413) 0%,
            rgba(255, 255, 255, 0) 69.79%,
            rgba(255, 255, 255, 0) 100%
          )
          /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
        #3393ec;
      box-shadow: 3.39735px 32.2748px 52.6589px rgba(0, 0, 0, 0.5);
      border-top-right-radius: 80px;
      border-bottom-right-radius: 80px;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      border: none;
      outline: none;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 12px;
      padding-right: 8px;
      min-height: 58px;
      max-width: 77px;
      position: absolute;
      left: 0;
      top: 3px;
      bottom: 2px;
      &--loading {
        background: radial-gradient(92.09% 85.42% at 86.3% 87.5%, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0) 86.18%)
            /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
          radial-gradient(
              65.28% 65.28% at 26.39% 20.83%,
              rgba(255, 255, 255, 0.413) 0%,
              rgba(255, 255, 255, 0) 69.79%,
              rgba(255, 255, 255, 0) 100%
            )
            #c0bfbf;
      }
    }
    &__loading-text {
      text-align: center;
    }
    &__command {
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 5px;
    }
    &__error {
      color: red;
      font-size: 12px;
      margin-right: 10px;
    }
  }
}
